/*Regla 1*/
* {
    font-family: "Roboto", serif;;
}

/*Regla 2*/
body {
    margin: 0%;
    padding: 0% 20%;
}

/*Regla 3*/
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/*Regla 4*/
.selector {
    color: lightcyan;
}

/*Regla 5*/
.selectors {
    padding: 5%;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

/*Regla 6*/
#universal { 
    color: lightgoldenrodyellow;
}

/*Regla 7*/
h2 { 
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/*Regla 8*/
span { /Regla 8/
    font-weight: 900;
    background-color: black;
    color: white;
}

/*Regla 9*/
li>a { 
    text-decoration: none;
}
/*Regla 10*/
 h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/*Regla 11*/
#gallery>div { 
    width: 100%;
}

/*Regla 12*/
img{ 
    width: 100%;
    border: solid 1px darkcyan;
    border-radius: 5px;
}

table { 
    border: solid 1px darkcyan;
    border-radius: 5px;
    width: 100%;
    font-size: 29px;
    border-collapse: collapse;
}

.underline{
    text-decoration: underline;
    font-style: italic;
}

.gris{
    background-color: rgb(184, 181, 181);
}

#tablaA {
    border: solid 1px rgb(184, 181, 181);
}

#tablaB {
    border: solid 1px darkcyan;
    padding: 0.5%;
    border-radius: 1%;
}